@font-face {
  font-family: 'CorporateL';
  src: local('CorporateALight'),
    url(./fonts/CorporateALight.ttf) format('truetype');
}
@font-face {
  font-family: 'CorporateD';
  src: local('CorporateADark'),
    url(./fonts/CorporateABold.otf) format('opentype');
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'CorporateD', Arial, serif;
  font-size: 1rem;
  line-height: 1.5;
}

button:disabled {
  opacity: 0.5;
}

.acediff__wrap {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.acediff__gutter {
  flex: 0 0 60px;
  border-left: 1px solid rgb(39, 39, 39);
  border-right: 1px solid rgb(39, 39, 39);
  background-color: #efefef;
  overflow: hidden;
}
.acediff__gutter svg {
  background-color: rgb(39, 39, 39);
}
.acediff__left,
.acediff__right {
  height: 100%;
  flex: 1;
}
.acediff__diffLine {
  background-color: rgb(0, 77, 122);
  border-top: 1px solid rgb(0, 77, 122);
  border-bottom: 1px solid rgb(0, 77, 122);
  position: absolute;
  z-index: 4;
}
.acediff__diffLine.targetOnly {
  height: 0px !important;
  border-top: 1px solid rgb(0, 77, 122);
  border-bottom: 0px;
  position: absolute;
}
.acediff__connector {
  fill: rgb(0, 77, 122);
  stroke: rgb(0, 77, 122);
}
.acediff__copy--right,
.acediff__copy--left {
  position: relative;
}
.acediff__copy--right div,
.acediff__copy--left div {
  color: #000;
  text-shadow: 1px 1px #fff;
  position: absolute;
  margin: 2px 3px;
  cursor: pointer;
}
.acediff__copy--right div:hover {
  color: #004ea0;
}
.acediff__copy--left {
  float: right;
}
.acediff__copy--left div {
  right: 0px;
}
.acediff__copy--left div:hover {
  color: #c98100;
}

.codeMarker {
  background: #fff677;
  position: absolute;
  z-index: 20;
}

.ck-editor__editable {
  height: 200px !important;
}

.carousel.carousel-slider {
  overflow: inherit;
}

.carousel .control-next.control-arrow,
.carousel .control-next.control-arrow:hover {
  background-color: transparent;
}

.carousel .control-prev.control-arrow,
.carousel .control-prev.control-arrow:hover {
  background-color: transparent;
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  opacity: 1;
}

.carousel .control-next.control-arrow:before {
  content: '';
  border: solid #64b5f6;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 14px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.carousel .control-prev.control-arrow:before {
  content: '';
  border: solid #64b5f6;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 14px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.carousel-status {
  font-size: 16px !important;
  color: #fff !important;
  text-shadow: none !important;
}

.dot {
  background-color: #fff !important;
}
